*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
	color: hotpink;
}

title {
	font-family: Arial; 
	font-size:30pt; 
	color: hotpink; 
	font-style:italic; 
	text-align:center
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

#Logo
{   
	display: flex;
	justify-content: center;
}

img 
{
	border:  2px solid pink;
    margin: 5px 10px;
	padding: 20px 20px 20px;
	border-radius: 40px 20px
	
}
 .Home img
{
	float: left;
    width:  150px;
    height: 150px;
    object-fit: cover;
    border:  2px solid pink;
    margin: 5px 10px;
	padding: 20px 20px 20px;
	border-radius: 40px 20px
	
  
		
}
 

#Text
{
	display: grid;
	grid-template-columns: 900px;
	justify-content: center;
	font-family: Arial; 
	font-size:15pt;
	color: hotpink; 
	text-align:center;
	text-align: justify;
	margin: 40px;
}

p
{ 
    font-family: Arial;
	font-size: 17px;
	color: hotpink;
	margin: 10px;	
}
 li
{ 
    font-family: Arial;
	font-size: 16px;
	color: hotpink;
	margin: 10px;	
}

 #menu
{
	font-family: Arial;
	font-size: 17px;
	color: hotpink;
	display: flex;
	justify-content: center;
	flex-direction: row;

}
#menu > a{
	flex-direction: row;
	text-align: center;
	padding: 10px;
	color: hotpink;

}


button {
	width: 200px;
	height: 50px;
	margin: 0 0;
	padding: 20px 20px 20px;
	background-color: lightpink;
	border-radius: 8px;
}

 a button strong {
	color: hotpink;
	font-size: 15px;
	font-family: Arial;
    
}

form div {
   margin-bottom: 10px;
   height: 100px;
   width: 100px;
   color: hotpink;
}

form div input {
	color: hotpink;
}

label {
   display: inline-block;
   width: 100px; 
   color: hotpink;
}


div textarea { 
color: hotpink;
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: vertical;

}

form{
	float: left;
	padding: 40px 40px 40px;
}

.contact
{
	position: relative;
	flex-direction: column;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	
	
}
.contact.content {
	max-width: 800px;
	text-align: center;

}

.contact.content h2 {
	font-size:  36px;
	font-weight:  500;
	color: #fff;


}
.contact.content p {
	font-weight: 300;
	color: #fff;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:  0px;
  flex-direction: column;

}

.container .contactInfo
{   
	flex-direction: column;
	width: 50%;
	float: left;
   margin-top: 50px;
	display: flex;
	
}
.container .contactForm
{ 
	flex-direction: column;
	width: 50%;
	float: right;
	display: flex;
	position: fixed; 
	top: 300px;
	right: 60px;
}

.container.contactInfo.box.text
{
	display: flex;
	margin-left:  20px;
	font-size: 16px;
	flex-direction: column;
	font-weight: 300;
}

.container .contactInfo .box .text h3
{
	font-weight:  200;
}

.contactForm
{
	width:  100%;
	padding: 10px;
	margin-top: 0px;

}
.contactForm h2 {
	font-size: 20px;
	font-weight:  300;
}
.contactForm .inputBox
{
	position: relative;
	width: 50%;

}

.contact .inputBox input{
	width:  100%;
	font-size:  16px;
	padding: 5px 10px;

}



.contactForm .inputBox input:focus ~ span
{  color: pink;
	transform: translate(-20px);
	font-size: 12px;
}

.Log{
	height:  100%;
	width: 100%;
	background-image:  linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(login.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;

}

.form1{
	width: 380px;
	height: 500px;
	position: relative;
	margin:  6% auto;
	background: #fff;
	padding: 5px;
	overflow: hidden;
	

}
.btn-box {
	display: flex;
	width: 220px;
	height: 70px;
	margin: 30px auto;
	position: relative;
    border-radius: 30px;
	box-shadow: 0 0 20px 9px #FFB6C1;
	display: flex;
	justify-content: center;

}

.toggle-btn{
	padding:  20px 10px;
	margin: 10px auto;
	cursor:  pointer;
	background:  transparent;
	border: 0;
	outline: none;
	position:  relative;
    display: flex;
	justify-content: center;

	

}

#btn{
	top: 0;
	left: 0;
	height: 60px;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, #FFB6C1, #FFB6C1);
	border-radius: 30px;
	transition: 0.5s;
}

.input-group{
	top: 100px;
	position: absolute;
	width: 280px;
	transition: .5s;
	right: 240px;

}
.input-field{
	width: 100%;
	padding: 10px 0 ;
	margin: 10px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid#999;
	outline: none;
	background: transparent;
}

.submit-btn{
	width:  85%;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #FFB6C1, #FF69B4);
    border: 0;
	outline:  none;
	border-radius: 30px;
}

.check-box{
	margin: 30px 10px 30px 0;
}
span{
	color: #777;
	font-size: 12px;
	bottom: 100px;
	position: absolute;
}

#login {
	left: 50px;
}

#Register {
	left: 450px;

}
#password{
	width: 100%;
	height: 40px;
	padding: 0 20px;
	border: 1px solid #ccc;
	outline: none;
	background: transparent;
}
#message{
	position: absolute;
	bottom: 130px;
	font-size: 15px;

}

.Home{
	position: relative;
	width: 100%;
	height:300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
	margin-top: 8%;
	background-color: lightpink;
	justify-content: center;
	align-items: center;
}
.Home.Description{
	width: 300px;
	position: relative;
	height: 400px;
	background: #f0f0f0;
	margin: 20px 15px;
	padding:  20px 15px;
	display: flex;
	flex-direction: column;
	box-shadow:  0.5px 10px #e6e6e6;
	transition:  0.3s ease-in-out;
	margin-top: 5%;
	
}
.Home.Description.img1{
	position:  relative;
	width: 300px;
	height:  300px;
	top: -60px;
	left: 20px;
	justify-content: center;
	align-items: center;
	

}

.Home .Description.img1 img{
	max-width: 100%;
	border-radius:  20px;
	object-fit: cover;
	
}
.img1:hover img{
	transform: scale(1.1);
}

body{
	display:  flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #ffb6c1;

}
.accordion
{
	max-width:  1000px;

}

.accordion .contentBx{
	position: relative;
	margin:  10px 20px;

}
.accordion .contentBx .label{
	position:  relative;
	padding: 10px;
	background:  #FF69B4;
	color: #fff;
	cursor:  pointer;
}

.accordion .contentBx .label::before
{
	content: '+';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size:  1.5em;

}
.accordion .contentBx.active .label::before
{
	content: '-';
}
.accordion .contentBx .content{
	position: relative;
	padding: 10px;
	background: #fff;
	height: 0;
	overflow: hidden;
	transition: 0.5s;
	overflow-y: auto;
	
}
.accordion .contentBx.active .content{
	height: 300px;
	padding: 40px;
	display: flex;
	justify-content: space-between;
    width: 77%;
    margin: 10rem auto 0 auto;
    justify-content: center;
  

} 
.accordion .contentBx.active img{
	height: 280px;	
	border-radius: 40%;

} 










